@import "bootstrap-sprockets";
@import "bootstrap";
@import "carousel.scss";

body {
  font-family: 'Quicksand', sans-serif;
}

.hero-home {
  background: url('') top center no-repeat;
  background-size: cover;
  background-origin: border-box;
  width: 100%;
  height: auto;
}

.intro {
  margin: 10% auto;
}

.img-event {
  max-width: 300px;
  height: auto;
}
